<div class="merch_page">
  <div class="new_button">
    <button type="button" class="button" onclick="location.href='/merchants/new'">Create New</button>
  </div>


  <h1 class="merch_head">Your Merchants</h1>

  <div class="merch_container">
    <% @merchants.each do |merchant| %>
    <div class="merch_list">
      <p><%= merchant.name() %></p>
      <div class="merch_buttons">
        <div class="edit_button">
          <button type="button" class="button_small" onclick="location.href='/merchants/<%= merchant.id %>'">Edit</button>
        </div>
        <div class="merch_delete_button">
          <form action="/merchants/<%= merchant.id %>/delete" method="post">
            <input type="submit" name="Delete" value="Delete" class="delete">
          </form>
        </div>
      </div>
    </div>
    <% end %>
  </div>

</div>
