<h1>Enter New Merchant</h1>
<br>
<form class="edit_form" action="/merchants" method="post">
  <label for="name">New Merchant:</label>
  <input id ="name" type="text" name="name">
  <br><br>
  <input type="submit" value="Create">
</form>
