<div class="homepage">

<img src="/images/homepage_bg.jpg" alt="macbook mockup scene">

<div class="nunito">
  <h1>Spend<span class="dot">.</span></h1>
</div>

<button type="button" class ="button" onclick="location.href='/tracks'">V</button>

</div>
