<!DOCTYPE html>
<html>
<head>
  <title>Spend.</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900|Varela+Round&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap" rel="stylesheet">
</head>
<body>
<main>
  <nav class="nunito">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/tracks">Tracks</a>
      </li>
      <li>
        <a href="/categories">Categories</a>
      </li>
      <li>
        <a href="/merchants">Merchants</a>
      </li>
    </ul>
  </nav>
  <section>
  <%= yield %>
  </section>
  </main>
</body>
</html>
