<!DOCTYPE html>
<html>
<head>
  <title>Spending Tracker</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
<main>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/categories">Categories</a>
      </li>
      <li>
        <a href="/merchants">Merchants</a>
      </li>
      <li>
        <a href="/tracks">Tracks</a>
      </li>
      <li>
        <a href="/new">Create New</a>
      </li>
    </ul>
  </nav>
  <section>
  <%= yield %>
  </section>
  </main>
</body>
</html>
