<div class="edit_page">

  <h1 class="nunito">Change Budget: (£)</h1>
  <form class="edit_form" action="/budget/<%= @budget.id %>" method="post">
    <label for="amount"></label>
    <div class="input_box">
      <input id ="amount" type="number" name="amount" value="<%= @budget.amount %>">
    </div>
    <br><br>
    <input type="submit" value="Update", class="button">
  </form>

</div>
