<h1>Enter New Category</h1>
<br>
<form class="edit_form" action="/categories" method="post">
  <label for="name">New Category:</label>
  <input id ="name" type="text" name="name">
  <br><br>
  <input type="submit" value="Create">
</form>
