html {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 0.8em;
  margin: 0;
}

/* NAV */

nav.nunito {
  text-align: center;
}

nav ul {
  list-style: none;
  background-color: #272727;
  overflow: hidden;
  font-size: 1.5em;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav li a {
  color: white;
  display: block;
  text-decoration: none;
  padding: 0.75em;
}

nav li a.active {
  text-decoration: underline;
  color: inherit;
}

nav li:hover {
  background-color: #89B802;
}

.nav_logo {
  position: fixed;
  z-index: 4;
  padding-left: 2em;
  top: 0;
}

.nav_logo h4 {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  color: white;
  padding-top: 0.75em;
}

/* ********* */

/* HOMEPAGE */

.nunito {
  font-family: 'Nunito', sans-serif;
}

.nunito h1 {
  font-size: 15em;
  text-align: center;
  align-items: center;
  color: white;
}

h1.logo {
  margin-bottom: 0;
}

.dot {
  color: #89B802
}

.enter {
  padding-bottom: 20em;
}


div.homepage img {
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* *********** */

/* BUTTONS */

.button {
  background-color: #89B802;
  font-family: 'Nunito', sans-serif;
  border: none;
  color: white;
  padding: 0.5em 2em;
  text-align: center;
  font-size: 2em;
  cursor: pointer;
  border-radius: 4em;
  display: block;
  margin: auto;
}

.button:hover {
  opacity: 95%;
}

.button:focus {
  outline: none;
}

.button_small {
  background-color: #89B802;
  font-family: 'Nunito', sans-serif;
  border: none;
  color: white;
  padding: 0.25em 1em;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
  border-radius: 4em;
  display: block;
  margin: auto;

}

.button_small:hover {
  opacity: 95%;
}

.button_small:focus {
  outline: none;
}

.delete {
  background-color: #E9190F;
  font-family: 'Nunito', sans-serif;
  border: none;
  color: white;
  padding: 0.25em 1em;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
  border-radius: 4em;
  display: block;
  margin: auto;
}

.track_buttons {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 2em;;

}

.edit_button {
  flex: 1;
}

.edit_button button {
  padding: 0.25em 1em;
  font-size: 1.5em;
}

.delete_button {
  flex: 1;
}

.delete_button input {
  padding: 0.25em 1em;
  font-size: 1.5em;
}

.new_button {
  padding-top: 6em;
}

.cat_buttons, .merch_buttons {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 2em;
}

.cat_container button, .merch_container button {
  padding: 0.15em 0.6em;
}

.cat_delete_button, .merch_delete_button {
  flex: 1;
}

.cat_delete_button input, .merch_delete_button input {
  padding: 0.15em 0.6em;
  font-size: 1.5em;
}

/* ******* */

/* TRACKS */

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

div.summary {
  text-align: center;
  line-height: normal;
}

h2.nunito {
  font-size: 3em;
  margin: 0;
  padding: 0;
}

h1.nunito {
  font-size: 4.5em;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
  min-height: 100%;
  height: auto;
  width: 100%;
  padding-bottom: 2.5em;
}

.budget {
  flex-grow: 1;
  width: 50%;
  text-align: center;
  padding: 2em;
  padding-left: 8em;
}

.budget_top {
  height: 75%;
}

.budget_bottom {
  height: 25%;
}

.tracks {
  flex-grow: 1;
  width: 50%;
  text-align: center;
  padding: 2em;
  padding-right: 8em;
}

.tracks_top {
  height: 75%;
}

.tracks_bottom {
  height: 25%;
}

/* ******* */

/* RESPONSIVE BUDGET BANNER */

.summary {
  width: 100%;
}

.warning {
  font-family: 'Nunito', sans-serif;
  width: 100%;
  font-size: 2.5em;
  margin: 0 auto;
  height: auto;
  padding-top: 0.2em;
}

h3.over_budget {
  background-color: #E9190F;
}

h3.near_budget {
  background-color: #FDBA00;
}

h3.under_budget {
  background-color: #89B802
}

/* ************ */

/* TRACK LOG */

.summary_head {
  font-family: 'Nunito', sans-serif;
  font-size: 4.5em;
  margin: 0;
  padding: 0;
  padding-bottom: 0.5em;
  text-align: center;
}

.track_container {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  flex-wrap: wrap;
  margin-left: 6em;
  margin-right: 6em;
}

.track_log {
  width: 26%;
  background: #EFEFEF;
  margin: 1em;
  padding: 2em;
}

.track_log p {
  font-size: 1.5em;
}

/* *********** */

/* CATEGORY PAGE & MERCH PAGE */

.cat_head, .merch_head {
  font-family: 'Nunito', sans-serif;
  font-size: 4.5em;
  margin: 0;
  padding: 0;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  text-align: center;
}

.cat_container, .merch_container {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  flex-wrap: wrap;
  margin-left: 6em;
  margin-right: 6em;
}

.cat_list, .merch_list {
  width: 20%;
  background: #EFEFEF;
  margin: 1em;
  padding: 2em;
}

.cat_list p, .merch_list p {
  font-size: 1.8em;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

/* ********* */

/* EDIT/NEW PAGES */

.edit_page h1, .new_page h1 {
  text-align: center;
  padding-top: 1.5em;
}

.edit_page input, .new_page input {
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.input_box {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.input_box label {
  font-size: 2em;
  font-family: 'Nunito', sans-serif;
}

.input_box select {
  font-size: 1.5em;
}

/* *********** */
